<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>$i18n.getText("com.atlassian.oauth.serviceprovider.access.tokens.title")</title>
    <meta name="decorator" content="atl.general">
    <meta name="tab" content="oauth.service.provider.user.access.tokens">
    $webResourceManager.requireResource("com.atlassian.oauth.serviceprovider:access-token-resources")
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>$i18n.getText("com.atlassian.oauth.serviceprovider.access.tokens.title")</h1>
        </div>
    </div>
</header>

<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            #parse("/templates/user/access-tokens-body.vm")
        </section>
    </div>
</div>
</body>
</html>
